html{
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(
    rgba(0,0,0,0.50),
    rgba(0,0,0,0.50)),
    url(S3_Images/Student3_Mountains.jpg);
    margin:0; /* To make no space between bar and page */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    z-index: -1; /* sending back */
}


/* positionimg and styling nevigation bar and logo */

#logo{
    overflow:hidden;
    position:absolute;

    top: 0px; 
    left:20px;
    height:70px;

    
}

.naviBar{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    display: inline;

    top: 0; /* Position the navbar at the top of the page */
    width: 98%; /* Full width */
    
    border-bottom: 2px solid #95df1d;

    background-color:transparent;
	backdrop-filter: blur(10px);

    text-align: right;
    padding: 18px;
    

}

.naviBar a{
    color: white;
    text-decoration: none;

    font-size: 18px;
    padding: 12px;
    border-radius: 10px;
}

.naviBar a:hover{
    color:#95df1d;
    border-bottom: 2px solid;
    border-color:#95df1d;
    cursor: pointer;
}

/* question block */

.quiz_main{
    font-family: sans-serif;
    position: absolute;
    width: fit-content;
    height: 70vh;
    background-color:rgb(32, 32, 32);
    border: 2px solid;
    border-color: #95df1d;
    border-radius: 25px;
    opacity:0.9;
    top: 20%;
    box-shadow: 10px 0px 20px rgb(0, 0, 0);
    color: rgb(221, 221, 221);
}

        /* left content block */
.left_content{
    width: 36%;
    padding: 50px;
    transition: 0.5s all ease-in;
}
.description h1{
    font-family: 'Teko',sans-serif;
    font-size: 50px;
    margin:0px;
    line-height: 55px;
}
.description span{
    font-family: sans-serif, cursive;
    font-size: 50px;
    color: rgb(99, 126, 245);
    margin: 10px;
}
.description h2,.description p{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}
.description h2{
    font-size: 25px;
}

        /*   question box   */

.question_box{
    position: absolute;
    top: 10%;
    left: 37.5%;
    padding: 60px;
    text-align: center;
}
.question_box .question{
    font-family:'Dosis',sans-serif ;
    font-size: 30px;
    clear: both;
}
.question_box .question button,#quiz_finish_btn , #quiz_next_btn{
    padding: 15px 22px;
    font-size: 20px;
    transition: 0.2s all ease-in;
    border: none;
    border-radius: 10px;
    background: rgb(186, 198, 250);
    margin: 5px;
}
.question button:hover ,#quiz_finish_btn:hover , #quiz_next_btn:hover,#quiz_start_btn:hover{
    background: rgb(221, 221, 221);
    color: rgb(31, 31, 31);
}
.question span{
    font-weight: bolder;
}
#quiz_finish_btn , #quiz_next_btn {
    margin: 5px 0px 5px 5px;
    float: left;
}
#quiz_start_btn{
    font-family:'Dosis', sans-serif ;
    font-size: 100px;
    font-weight: bolder;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: none;
    background: rgb(158, 177, 255);
}

        /* timer  */
.timer{
    position: absolute;
    top: 20%;
    left: 5%;
    color: rgb(219, 219, 219);
    font-size:25px;
    line-height:15px;
    text-align: center;
}
#timerHead{
    font-size: 70px;
    margin: 60px;
}
#time{
    font-size: 100px;   
    font-family:'Cooper Black';
    color: rgb(99, 126, 245);
}
.timer h1{
    font-family: 'Dosis', sans-serif;
}

        /* score board */
.score_board{
    text-align: center;
    position: absolute;
    top:13%;
    left: 45%;
    display: none;
    width: 50%;
}
.score_container{
    position: absolute;
    width: 300px;
}
.score_box{
    background-color: rgb(98, 127, 243);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: auto;
}
.score_board h1{
    position: relative;
    font-family: 'Teko',sans-serif;
    font-size: 50px;
    line-height: 55px;
    margin: 10px;
}
.score_box h1{
    position: relative;
    padding: 75px 0px;
    font-size: 80px;
    color: white;
}

        /* view performance block */

#view_performance img{
    height: 130px;
    width: 150px;
}
#view_performance{
    position: absolute;
    top: 25%;
    left: 10%;
    text-align: center;
    font-family: 'Dosis',sans-serif;
    display: none;
}

#count_time_container{
    position: absolute;
    top: 25%;
    right: 10%;
    text-align: center;
    font-family: 'Dosis',sans-serif;
    display: none;
}

        /* quiz report  */
.quiz_report{
    width: 100%;
    position: absolute;
    top: 100vh;
    background: rgb(49, 49, 49);
    padding:20px 0px 20px 100px;
    display: none;
    color: white;
    opacity: 0.9;
}
.quiz_report h1{
    text-align: center;
    font-size: 50px;
}
.report_head{
    display: flex;
}
.report_head .box{
    width: 70px;
    height: 50px;
    margin-right: 5px;
    border-radius: 10px;
}
.report_head span{
    padding: 15px;
    margin-right: 30px;
}
.correct{background-color: rgb(128, 236, 134);}
.wrong{background-color: rgb(255, 123, 123);}
.given{border: 10px solid white;}

.quiz_report #answer{
    background: rgb(128, 236, 134);
}   

.quiz_report .question{
    font-family:'Dosis',sans-serif ;
    font-size: 30px;
    clear: both;
}
.quiz_report .question button{
    padding: 15px 22px;
    font-size: 20px;
    transition: 0.2s all ease-in;
    border: none;
    border-radius: 10px;
    background: rgb(186, 198, 250);
    margin: 5px;
}
.quiz_report .question .given_answer{
    border: 10px solid rgb(255, 255, 255);
    margin: 4px;
    background: rgb(255, 123, 123);
    padding: 17px 23px;
}

/* top button */

#topbtn{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 5%;
    bottom: 5%;
    margin: 20px;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    transition: 0.1s all;
    position: fixed;
}
#topbtn:focus{
    outline: none;
}
#topbtn:hover{
    background-color: transparent;
    color: white;
    transform: scale(1.3);
}



/*  developer page <a> container*/

.dev_page{
    padding: 13px;
    margin: 40px 0px 0px 0px;
    font-size: 17px;
    border-radius: 10px;
    background-color: #dfdfdf;
    transition: 0.2s all ease-in;
    position: absolute;
    bottom: 0%;
    right: 0%;
    position: fixed;
}
.dev_page:hover{
    transform: translateY(-15px);
}